* {
    font-family: Arial;   
}

html{
    height: 100%;
}

html, body{
    overflow: auto;
}

td {
    vertical-align:middle !important;
}

#horiList{
    display: none;
}

#normalList{
    display: inherit;
}

#additionalHeader{
}
#nonDevice{
}

#deviceView{
    display: none;
}

@media screen and (max-width: 768px) {
    html, body {
        overflow: hidden;
    }

    #welcomeMessage {
        display: none !important;
    }

    html, body {
        height: 100vh !important;
    }

    #viewClick {
        flex-direction: column;
    }


    #nonDevice {
        display: none;
    }

    #deviceView {
        display: inherit;
    }

    #listView {
        width: inherit !important;
        overflow: auto !important;
        display: flex;
        padding: 0px !important;
    }

    .list-group-item {
        width: 12vh !important;
    }

    #horiList {
        display: inherit !important;
        padding: 0px !important;
    }


    #normalList {
        display: none !important;
    }
    /*
    table, thead, tbody, th, td, tr {
        display: block !important;
    }*/

    td {
        border: none !important;
        margin: 0px !important;
        padding: 0px !important;
        width: 95vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th, thead{
        display: none !important;
    }

    tr {
        display: inline-flex;
        flex-direction: column;
        border-bottom: 1px solid #808080 ;
        width: 100%;
        padding: 4px 0px 4px 0px;
    }


    #mainView {
        padding: 5px !important;
    }

    #defaultView{
        height: 100% !important;
    }

    #filterView{
        width: 100%;
    }

    #advancedView {
        width: 90% !important;
    }

    #settingHeaderNav {
        width: 100% !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items:center;
    }

    #settingsViewPage{
        width: 90% !important;
    }

    #profileView {
        width: 90% !important;
    }

    #syncView {
        width: 90% !important;
    }

    #additionalHeader{
        display: none !important;
    }

    .list-group-item{
        padding: 10px !important;
    }

    #buttonView{
        width: 100% !important;
    }
}